@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
    padding: calc(v.$separacion/2) 0;
    background-color: v.$grisOscuro;
    padding-top: calc(v.$separacion/2);
    margin-bottom: 0px;
    margin-top: 5rem;

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}
