@use "base/variables" as v;
@use "base/mixins" as m;

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    >a {
        width: 40rem;
    }
}


.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;

    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
    }
}

/* MENU HAMBURGUESA */
.mobile-menu {
    cursor: pointer;

    @include m.tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}
