@use "base/variables" as v;
@use "base/mixins" as m;

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    >a {
        width: 40rem;
    }
}


.navegacion {

    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
    }
}
